<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <ConsoleLauncher.Properties.Settings>
            <setting name="ResultForegroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultBackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="AlternatingResultForegroundColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="AlternatingResultBackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Paths" serializeAs="String">
                <value>d:\tools</value>
            </setting>
            <setting name="SearchPatterns" serializeAs="String">
                <value>*.exe;*.sln</value>
            </setting>
            <setting name="Actions" serializeAs="String">
                <value>invoke;print</value>
            </setting>
            <setting name="CacheEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CacheMaxAge" serializeAs="String">
                <value>5.00:00:00</value>
            </setting>
            <setting name="CachePath" serializeAs="String">
                <value>d:\Temp\ConsoleLauncher.cache.txt</value>
            </setting>
        </ConsoleLauncher.Properties.Settings>
    </userSettings>
</configuration>